
<div class="row">
  <%= render "layouts/jumbotrontile.html.erb" %>
  <%= render "layouts/roomtile.html.erb" %>
  <%= render "layouts/roomtile.html.erb" %>
  <%= render "layouts/roomtile.html.erb" %>
  <%= render "layouts/roomtile.html.erb" %>
  <%= render "layouts/roomtile.html.erb" %>
</div>