<%= render 'layouts/onsite_top' %>

<div class="row">
  <%= render "layouts/onsite_roomtile.html.erb" %>
  <%= render "layouts/onsite_roomtile.html.erb" %>
  <%= render "layouts/onsite_roomtile.html.erb" %>
  <%= render "layouts/onsite_roomtile.html.erb" %>
  <%= render "layouts/onsite_roomtile.html.erb" %>
</div>