

  <div class="page-header full-content bg-blue">
    <div class="row">
      <div class="col-sm-6">
        <h1>Clickable Cards <small>short description</small></h1>
      </div><!--.col-->
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li><a href="#"><i class="ion-home"></i></a></li>
          <li><a href="#">Cards</a></li>
          <li><a href="#" class="active">Clickable Cards</a></li>
        </ol>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.page-header-->


  <div class="row">
    <div class="col-md-6">
      <div class="card card-event card-clickable">

        <div class="card-heading bg-image sample-bg-image13">
        </div><!--.card-heading-->

        <div class="card-body">
          <div class="calendar">
            <div class="month">November</div>
            <div class="date">27</div>
          </div><!--.calendar-->
          <h4>Click Floating Button</h4>
          <p>A Social Networking group with an International mix of Young Professionals interested in meeting other like minded people for friendship / networking / partying at exclusive Members Clubs, Lounges &amp; Bars. Recommended age range is 21+.</p>
        </div><!--.card-body-->

        <div class="clickable-button">
          <div class="layer bg-red"></div>
          <a class="btn btn-floating btn-red initial-position floating-open"><i class="ion-android-more-horizontal"></i></a>
        </div>

        <div class="layered-content bg-red">
          <div class="overflow-content">
            <h4>Young Professionals London</h4>
            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
            <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
          </div><!--.overflow-content-->
          <div class="clickable-close-button">
            <a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
          </div>
        </div>

      </div><!--.card-->
    </div><!--.col-md-6-->

    <div class="col-md-6">
      <div class="card card-event card-clickable card-clickable-from-left">

        <div class="card-heading bg-image sample-bg-image15">
        </div><!--.card-heading-->

        <div class="card-body">
          <div class="calendar">
            <div class="month">November</div>
            <div class="date">27</div>
          </div><!--.calendar-->
          <h4>Animate From Left</h4>
          <p>A Social Networking group with an International mix of Young Professionals interested in meeting other like minded people for friendship / networking / partying at exclusive Members Clubs, Lounges &amp; Bars. Recommended age range is 21+.</p>
        </div><!--.card-body-->

        <div class="clickable-button">
          <div class="layer bg-teal"></div>
          <a class="btn btn-floating btn-teal initial-position floating-open"><i class="ion-android-more-horizontal"></i></a>
        </div>

        <div class="layered-content bg-teal">
          <div class="overflow-content">
            <h4>Young Professionals London</h4>
            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
            <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
          </div><!--.overflow-content-->
          <div class="clickable-close-button">
            <a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
          </div>
        </div>

      </div><!--.card-->
    </div><!--.col-md-6-->
  </div><!--.row-->

  <div class="row">
    <div class="col-md-4">
      <div class="card card-user card-clickable card-clickable-over-content">

        <div class="card-heading heading-full">
          <div class="user-image sample-member9"></div>

          <div class="clickable-button">
            <div class="layer bg-green"></div>
            <a class="btn btn-floating btn-green initial-position floating-open"><i class="ion-android-share-alt"></i></a>
          </div>

          <div class="layered-content bg-green">
            <div class="overflow-content">
              <h4>Follow Aleksio</h4>
              <ul class="inline-list social-list borderless">
                <li><a class="btn btn-facebook btn-ripple"><i class="ion-social-facebook"></i></a></li>
                <li><a class="btn btn-twitter btn-ripple"><i class="ion-social-twitter"></i></a></li>
                <li><a class="btn btn-googleplus btn-ripple"><i class="ion-social-googleplus"></i></a></li>
              </ul>
            </div><!--.overflow-content-->
            <div class="clickable-close-button">
              <a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
            </div>
          </div>

        </div><!--.card-heading-->

        <div class="card-body">
          <h3 class="card-title"><a href="#">Aleksio Prifti</a></h3>
          <div class="subhead">Support at <a href="#">TeamFox</a></div>

          <p>I'm Aleksio, a support engineer from Albania &amp; currently working on <a href="#">Sety</a>, <a href="#">T-Project</a> and <a href="#">TeamFox</a>.</p>
          <ul class="social-links">
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div><!--.card-body-->

        <div class="card-footer">
          <a href="#" class="pull-left"><small>8 friends in common</small></a>
          <button class="btn btn-xs btn-flat pull-right">Add as a Friend</button>
        </div><!--.card-footer-->

      </div><!--.card-->
    </div><!--.col-md-4-->

    <div class="col-md-4">
      <div class="card card-user card-clickable card-clickable-over-content">

        <!-- You need to set the height of clickable button
        196px is height of user picture -->
        <div class="clickable-button" style="height: 196px;">
          <div class="layer bg-blue-grey"></div>
          <a class="btn btn-floating btn-blue-grey initial-position floating-open"><i class="ion-social-buffer"></i></a>
        </div>

        <div class="layered-content bg-blue-grey">
          <div class="overflow-content">
            <h4>Charles Simpson</h4>
            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
            <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
          </div><!--.overflow-content-->

          <!-- You need to set the height of clickable button
          196px is height of user picture -->
          <div class="clickable-close-button" style="height: 196px;">
            <a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
          </div>
        </div>

        <div class="card-heading heading-full">
          <div class="user-image sample-member7l"></div>

        </div><!--.card-heading-->

        <div class="card-body">
          <h3 class="card-title"><a href="#">Charles Simpson</a></h3>
          <div class="subhead">Support at <a href="#">TeamFox</a></div>

          <p>I'm Charles, a support engineer from Albania &amp; currently working on <a href="#">Sety</a>, <a href="#">T-Project</a> and <a href="#">TeamFox</a>.</p>
          <ul class="social-links">
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div><!--.card-body-->

        <div class="card-footer">
          <a href="#" class="pull-left"><small>8 friends in common</small></a>
          <button class="btn btn-xs btn-flat pull-right">Add as a Friend</button>
        </div><!--.card-footer-->

      </div><!--.card-->
    </div><!--.col-md-4-->

    <div class="col-md-4">
      <div class="card card-user card-clickable card-clickable-over-content">

        <div class="card-heading heading-full">
          <div class="user-image sample-member4l"></div>

          <div class="clickable-button">
            <div class="layer bg-brown"></div>
            <a class="btn btn-floating btn-brown initial-position floating-open"><i class="ion-person-stalker"></i></a>
          </div>

          <div class="layered-content bg-brown">
            <div class="overflow-content">
              <div class="btn-group btn-group-justified margin-bottom-20">
                <div class="btn-group">
                  <button type="button" class="btn btn-deep-orange btn-ripple">Friendship</button>
                </div><!--.btn-group-->
                <div class="btn-group">
                  <button type="button" class="btn btn-yellow btn-ripple">See Profile</button>
                </div><!--.btn-group-->
              </div>
            </div><!--.overflow-content-->
            <div class="clickable-close-button">
              <a class="btn btn-floating initial-position floating-close"><i class="ion-android-close"></i></a>
            </div>
          </div>

        </div><!--.card-heading-->

        <div class="card-body">
          <h3 class="card-title"><a href="#">Jacqueline Mendoza</a></h3>
          <div class="subhead">Support at <a href="#">TeamFox</a></div>

          <p>I'm Jacqueline, a support engineer from Albania &amp; currently working on <a href="#">Sety</a>, <a href="#">T-Project</a> and <a href="#">TeamFox</a>.</p>
          <ul class="social-links">
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div><!--.card-body-->

        <div class="card-footer">
          <a href="#" class="pull-left"><small>8 friends in common</small></a>
          <button class="btn btn-xs btn-flat pull-right">Add as a Friend</button>
        </div><!--.card-footer-->

      </div><!--.card-->
    </div><!--.col-md-4-->

  </div><!--.row-->


  <p id="notice"><%= notice %></p>

  <h1>Listing Items</h1>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.value %></td>
          <td><%= link_to 'Show', item %></td>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Item', new_item_path %>

  <div class="footer-links margin-top-40">
    <div class="row no-gutters">
      <div class="col-xs-6 bg-blue">
        <a href="cards-video.html">
          <span class="state">Cards</span>
          <span>Video Cards</span>
          <span class="icon"><i class="ion-android-arrow-back"></i></span>
        </a>
      </div><!--.col-->
      <div class="col-xs-6 bg-red">
        <a href="ui-elements-general.html">
          <span class="state">UI Elements</span>
          <span>General</span>
          <span class="icon"><i class="ion-android-arrow-forward"></i></span>
        </a>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.footer-links-->



